---
import Layout from "../../layouts/Layout.astro";
import Ae from "../../components/Ae.astro";
---
<Layout title="アリー・セルッティ" description="aly.fish (日本語)">
  <h1>アリー・セルッティ</h1>

  <section>
    <h2>自己紹介</h2>
    <p>私はカリフォルニア大学サンタクルーズ校のコンピューターサイエンス学部学生です。</p>

    <h3>ソフトウェア・プログラミング言語論</h3>
    <p>
      長年の興味の一つなのは、<Ae href="https://fs2.io/">fs2</Ae>や<Ae href="https://typelevel.org/cats-effect/">cats-effect</Ae>にあるような関数型でストリーミングというパラダイムです。或る時、ユーザー空間の協調的マルチタスクとカーネル空間のプリエンプティブマルチタスクの相互作用をもっと深く研究したいです。
    </p>
    <p>
      最近、<Ae href="https://fallingcolors.github.io/HexMod/">Hexcasting</Ae>のパターンを出力するOCamlのような言語のコンパイラーを設計してみています。Hexcastingはスタック指向で<Ae href="https://www.concatenative.org/wiki/view/Concatenative%20language">連結型言語</Ae>なので再帰的な値や束縛をコンパイルすることは複雑になります。ただ今、私の言語の動作に関する正式なドキュメントをまだ書いていませんが、考えなどを経時的に記録する<Ae href="https://gist.github.com/s5bug/5f453c9c159fb77bad9dff1a8954fb3b">メモ</Ae>を公開しています。
    </p>
    <p>
      もう一つの長年のプロジェクトなのは<Ae href="https://www.fancade.com/">Fancade</Ae>のレベルへのコンパイラーです。Fancadeの制御構造にコンパイルすることが難しいので現在後回しにしています。
    </p>
    <h3>ハードウェア</h3>
    <p>
      長い間、CPUはクロックパルスを待って次のパイプラインステージへ続ける代わりに入手可能になり次第データを処理する「クロックレスコンピューティング」に私は興味があります。例えば、エネルギー効率のために作ったクロックレスコンピューターを開発する<Ae href="https://www.greenarraychips.com/">GreenArrays</Ae>など、このようなデザインを検討している会社はすでにあります。
    </p>
    <p>
      エネルギー効率に関して、他の感化なのは太陽光だけで電力を供給する<Ae href="https://solar.lowtechmagazine.com/about.html">Low-tech Magazine</Ae>です。或る時、このサイト(それとも、サイトの部分)を自分の再生可能エネルギーだけでホストしたいです。
    </p>
    <h3>プログラミング経験</h3>
    <p>
      私は今主に<Ae href="https://scala-lang.org/">Scala</Ae>を使って、Javaも得意です。他の簡単にプログラムできる言語はC、C++、C#、Rust、Kotlinです。TypeScript・JavaScript、Python、F#、<Ae href="https://crystal-lang.org/">Crystal</Ae>、Lua、Haskellを使ったこともあります。GitHubは<Ae href="https://github.com/s5bug">s5bug</Ae>ですが、多くのプロジェクトは公開していません。
    </p>

    <h3>音楽</h3>
    <p>
      ピアノを始めた2008年から音楽しています。2013年からフルート練習していて、2019年と2020年では高校のマーチングバンドの一位フルートでした。それ以来、焦点は主にEWIに移っています。今の趣味の一つは好きな曲を書き写すことですし、援助のためにピアノを習い直したくて太鼓も習いたいです。
    </p>

    <h3>ゲーミング</h3>
    <p>
      私はいたちごっこの化身です。何百時間ジオメトリーダッシュをして何百時間もセレステをしたのは私の性格を証明します。他の大好きなゲームはゼルダの伝説:時のオカリナ、コロリンパ2:アンソニーと金色ひまわりのタネ、ホッローナイト、グランブルーファンタジー・ヴァーサス・ライジングです。
    </p>
    <p>
      ファイナルファンタジーXIVは2ヶ月だけで一番プレイしたゲームになり、今は2000時間以上(二番プレイしたゲームの6倍)のプレイ時間です。<Ae href="https://jp.finalfantasyxiv.com/lodestone/character/43918131/">Lodestoneページ</Ae>にパラメータとアチーブメントが見えます。主に漁師、モンク、黒魔道士としてプレイします。私は未予習攻略やレイドレースを楽しむので、いたちごっこのマインドがある固定を参加したいです。
    </p>
  </section>

  <section>
    <h2>学校のプロジェクト</h2>
    <p>
      学校のためにポートフォリオを作らなくてはいけないとウェブページを作ります。辞書式順序を保つために、特別な数体系を使います。
    </p>

    <dl>
      <dt>2022春</dt>
      <dd>2021年から2022年までの春の学期です。</dd>

      <dt>2022夏</dt>
      <dd>2021年から2022年までの夏の学期です。</dd>

      <dt>2023秋</dt>
      <dd>2022年から2023年までの秋の学期です。</dd>

      <dt>2023冬</dt>
      <dd>2022年から2023年までの冬の学期です。</dd>
    </dl>

    <h3>2022春の日本文化</h3>
    <p>
      現在は英語のみです。
    </p>

    <h3>2023秋の視覚的な伝達と相互作用</h3>
    <p>
      現在は英語のみです。
    </p>
  </section>

  <section>
    <h2>このウェブサイトについて</h2>
    <p>
      私はCSSやJavaScriptやカスタムなフォントを使わずに<code>aly.fish</code>を閲覧しやすいように工夫してみています。でも、サイトの一致のために、CSSとフォントは使われますしユーザーさんのブラウザがダウンロードするでしょう。URLで言語がないページでは(例えば、このページは<code>/ja/</code>があります)、ユーザーさんの言語にリダイレクトするためにJavaScriptがダウンロードされます。JavaScriptが無効になったら、そのページの言語リストが表示されます。
    </p>
  </section>
</Layout>
