body {
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
    padding: 8px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

em:lang(ja) {
    font-style: normal;
    color: red;
}

.explanation {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    cursor: help;
}
