---
import moodboardElevatorPng from '../../../assets/2022q4-viscom/moodboard-elevator.png'
import moodboardFlowgramPng from '../../../assets/2022q4-viscom/moodboard-flowgram.png'

import moodboardMoonbeamPng from '../../../assets/2022q4-viscom/moodboard-moonbeam.png'
import Figure from '../../../components/Figure.astro'
import Layout from '../../../layouts/Layout.astro'
---
<Layout title="Visual Communication and Interaction: Game Proposals" description="Three game proposals and associated mood-boards.">
  <h1>Game Proposals</h1>

  <section>
    <h2>moonbeam</h2>

    <Figure src={moodboardMoonbeamPng} formats={['png']} alt="The mood-board made for moonbeam. At the top is a pastel palette, focused on the dark blue night sky as well as white and blue arctic colors. For color, pastel red, orange, yellow, green, and purple are included. Below are various images of the moon, screenshots of Celeste that feature auroras, and the Earth's northern lights viewed both from below and from space.">
      Mood-board for moonbeam.
    </Figure>

    <p>
      I knew immediately I wanted some sort of relaxing game that could be single-player. However, I didn't want it to be as rigid and mathematical as Solitaire is, for example. To this end, the design I have in mind for moonbeam is one of a story-building game.
    </p>

    <p>
      The goal of the player(s) will be to build from the North Pole towards the moon. They will do this via the means of physical materials, such as ice harvested from the Arctic Ocean, as well as fantasy concepts, such as celestial energy from the Aurora Borealis. The game will serve as being an ice-breaker, or writer's block assistant, in that it will encourage the player(s) to recall or invent experiences, characters, or events matching a certain theme, description, or purpose.
    </p>

    <p>
      The game will end once the player(s) are able to play the Moon card.
    </p>

    <h3>Design Challenges</h3>

    <ul>
      <li>How do I maximize replayability, without sacrificing rule clarity or story-telling purpose?</li>
      <li>How do I gate the Moon behind a natural progression point?</li>
      <li>How do I design the progression to encourage construction of a cohesive storyline?</li>
      <li>How do I make the story-telling aspect of moonbeam <em>relaxing</em> instead of frustrating, especially for those like me who have difficulties with story-telling?</li>
    </ul>
  </section>

  <section>
    <h2>flowgram</h2>

    <Figure src={moodboardFlowgramPng} formats={['png']} alt="The mood-board made for flowgram. At the top is a neon, vibrant palette. Below are images of the countdown timer in Super Smash Bros. Melee, the Final Fantasy 14 Limit Break bar, the Shotgun King video game, a case of neon lights, and art of Kamehameha versus Galick Gun.">
      Mood-board for flowgram.
    </Figure>

    <p>
      The concept of flowgram was born well after its corresponding mood-board: the mood-board designed early into the week, and the flowgram itself only conceptualized at 5 A.M. on the Thursday it was meant to be presented.
    </p>

    <p>
      flowgram is intended to be a card game where skill matters much more than the cards you draw. Games played between players of equal skill should come down to the wire, with engaging back-and-forths. However, it's hard to design a skill-based card game without either the game becoming a <abbr title="Trading Card Game">TCG</abbr> or having a dynamic ruleset.
    </p>

    <p>
      So, flowgram takes the dynamic ruleset approach to the extreme. flowgram is intended to be played with 2 equally-sized teams of either 1, 2, or 3 players. Each team has a machine, and each player has units. The machine determines what rules the units follow. The machine starts out in a simple BEGIN → ATTACK → END state, allowing each player's attack unit to do a basic attack once per turn. However, as players draw machine cards, they can augment this flow chart. For example, a second ATTACK card can be played to augment the chart towards BEGIN → ATTACK → ATTACK → END, allowing attack units to attack twice per turn.
    </p>

    <p>
      The machine cards would be positional: the BEGIN card would have a lower connection, signalling to process next whichever card is placed below it. This position-based system will easily allow for more complex control structures while preventing unabated growth (wire cards must be drawn to extend a connection, for example).
    </p>

    <h3>Design Challenges</h3>

    <ul>
      <li>How do I prevent flowgram from becoming a TCG?</li>
      <li>Should creation of more units be enabled by drawing unit cards or by machine actions?</li>
      <li>How do I prevent infinite loops while still allowing complexity in a graph-based system?</li>
      <li>Should I make reorganizing already-placed machine parts (for example, for the goal of optimization) have some sort of cost?</li>
    </ul>
  </section>

  <section>
    <h2>Elevator</h2>

    <Figure src={moodboardElevatorPng} formats={['png']} alt="The mood-board made for Elevator. At the top is a small pallete, with jet black, three shades of red, a dark grey, and a bone white. Below are images of someone stuck in an elevator, people arguing in an elevator, and the iconic axe-murder scene from American Psycho.">
      Mood-board for Elevator.
    </Figure>

    <p>
      Elevator is a game concept I came up with before making a mood-board, and I had trouble making a mood-board in turn. It is a cooperative game, where you must keep yourself and your peers from going insane, but helping your peers comes at a cost of your own sanity.
    </p>

    <p>
      Your elevator just got stuck, and you have to wait 30 (or 60) minutes (turns) for the Fire Department to arrive. Each player has been given a specific subset of the main deck (determining their "personality"). Players are not allowed to communicate out-of-character: no attempts must be made to reveal what cards have been played or are being held, or to reveal the sanity points of a certain player. (This is a co-op game, so there's no reason to cheat unless you hate fun.)
    </p>

    <p>
      The difficulty of Elevator comes from the need for players to be fully anonymous in many of the cards they might play (starting an argument, but nobody knows who started it, etc). Other cards, such as assisting other players (helping another player will restore 2 sanity points for them, but cost you 1, and the maximum sanity is only 3) will be played in full view.
    </p>

    <p>
      Each turn, a card is pulled from a size-30 (or size-60) "Event Card" deck, which describes things that may happen during a turn, or things players are required to do during a turn. If a single player drops to 0 sanity during the game, the entire group loses. If the Event Card deck runs out before then, the entire group wins.
    </p>

    <h3>Design Challenges</h3>

    <ul>
      <li>How do I balance this game, especially without changing the max of 3 sanity points?</li>
      <li>How do I develop a system for playing cards anonymously?</li>
      <li>How do I make it clear that players should be entirely in-character?</li>
      <li>How do I make it <em>fun</em> to be in-character?</li>
    </ul>
  </section>
</Layout>