---
import Layout from "../../layouts/Layout.astro";
import Al from "../../components/Al.astro";
import Ae from "../../components/Ae.astro";
---

<Layout title="Aly Cerruti" description="aly.fish (English)">
  <h1>Aly Cerruti</h1>

  <section>
    <h2>About Me</h2>
    <p>
      I am an undergraduate student of Computer Science, currently at the University of California Santa Cruz.
    </p>

    <h3>Software/PLT</h3>
    <p>
      One of my longstanding interests is functional and streaming paradigms such as those featured in <Ae href="https://fs2.io/">fs2</Ae> and <Ae href="https://typelevel.org/cats-effect/">cats-effect</Ae>. One of the concepts I would like to more deeply investigate at some point is the interactions between userspace applications employing cooperative multithreading and operating system kernels using preemptive scheduling.
    </p>
    <p>
      I am currently working on designing a compiler for an OCaml-like language that outputs <Ae href="https://fallingcolors.github.io/HexMod/">Hexcasting</Ae> patterns. The unique challenges in this space are that Hexcasting operations are performed entirely on the stack, as well as that Hexcasting is a <Ae href="https://www.concatenative.org/wiki/view/Concatenative%20language">concatenative language</Ae>, meaning recursive bindings and operations become quite complex tasks. At the moment I have yet to write formal documentation on how the language behaves, however I have made available <Ae href="https://gist.github.com/s5bug/5f453c9c159fb77bad9dff1a8954fb3b">notes</Ae> that chronologically document my thinking process.
    </p>
    <p>
      Another one of my longstanding projects that I would like to complete is a compiler into <Ae href="https://www.fancade.com/">Fancade</Ae> levels. It's on the back-burner for now, as compiling into Fancade's execution flow is quite a complex task.
    </p>
    <h3>Hardware</h3>
    <p>
      For a long time, I have had an interest in clockless computing, where rather than waiting for a clock signal to proceed to the next pipeline stage, CPUs process data and events as they become available. There are already companies exploring this type of design, such as <Ae href="http://www.greenarraychips.com/">GreenArrays</Ae>, who are developing clockless circuits built to be energy-efficient.
    </p>
    <p>
      Regarding energy-efficiency, another inspiration of mine is the <Ae href="https://solar.lowtechmagazine.com/about.html">Low-tech Magazine</Ae>, a blog entirely powered by solar. At some point, I would like to try hosting this site (or a subsection of it) on my own renewable energy.
    </p>
    <h3>Programming Experience</h3>
    <p>
      I currently mainly program in <Ae href="https://scala-lang.org/">Scala</Ae>, and am very proficient in Java. Other languages I am able to program easily in include C, C++, C#, Rust, and Kotlin. I have experience writing TypeScript/JavaScript, Python, F#, <Ae href="https://crystal-lang.org/">Crystal</Ae>, Lua, and Haskell. My GitHub lies at <Ae href="https://github.com/s5bug">s5bug</Ae>, but many of my projects remain unpublished.
    </p>

    <h3>Music</h3>
    <p>
      I've been playing music since 2008 when I started piano. Since 2013 I have been practicing the flute, and for the years 2019 and 2020, I was the first-chair flautist in Marching Band. Since, my focus has mainly shifted to EWI. One of my current hobbies is transcribing my favorite songs, and to aid me with the process I would like to learn drum-set and relearn piano.
    </p>

    <h3>Gaming</h3>
    <p>
      One of my favorite ways to game is to be faced with the same difficult challenge for hours on end and gradually chip away at it. I can back this up with my hundreds of hours in Geometry Dash and hundreds more in Celeste. Other  games among my favorites are The Legend of Zelda: Ocarina of Time, Marble Saga: Kororinpa, Hollow Knight, and Granblue Fantasy Versus: Rising.
    </p>
    <p>
      Final Fantasy XIV, which in only 2 months became my most-played game, is a game I now have spent over 2,000 hours in (6 times my second-most played game). You can see my current status and achievements on <Ae href="https://na.finalfantasyxiv.com/lodestone/character/43918131/">my Lodestone page</Ae>. I mainly play Fisher, Monk, and Black Mage. I very much enjoy blind/world progression, and hope some day I can find a group with my same mindset.
    </p>
  </section>

  <section>
    <h2>School Projects</h2>
    <p>
      When I need to make a portfolio for school, I make webpages here. To keep time in lexicographical order, I use a numbering system that places the autumn of one year into the next year.
    </p>

    <dl>
      <dt>2022H</dt>
      <dd>Spring section of the 2021-2022 school year.</dd>

      <dt>2022N</dt>
      <dd>Summer section of the 2021-2022 school year.</dd>

      <dt>2023A</dt>
      <dd>Autumn section of the 2022-2023 school year.</dd>

      <dt>2023F</dt>
      <dd>Winter section of the 2022-2023 school year.</dd>
    </dl>

    <h3>2022H: Japanese Culture</h3>
    <p>
      <Al href="2022h-nhbk">Japanese Culture 2022 Spring: Course Project</Al>
    </p>

    <h3>2023A: Visual Communication and Interaction</h3>
    <ul>
      <li><Al href="2023a-viscom/proposals">Three Game Proposals and their Mood-boards</Al></li>
      <li><Al href="2023a-viscom/visual-directions">Visual Directions for Flowgram</Al></li>
    </ul>
  </section>

  <section>
    <h2>About This Website</h2>
    <p>
      The entirety of <code>aly.fish</code> is supposed to be easily browsable without JavaScript, CSS, or custom fonts. CSS and custom fonts are used to make the website more consistent, and may be loaded by your browser. On certain links without a language in the URL (for example, this page has <code>/en/</code>), JavaScript will be loaded to redirect to the user's preferred language. If the user has JavaScript disabled, a list of languages that the page is available in will be shown.
    </p>
  </section>
</Layout>
