---
interface Props {
  href: string;
  lang?: string;
  hreflang?: string;
}
const { href, lang, hreflang } = Astro.props;

interface LangAttrs {
  lang?: string;
  hreflang?: string;
}
let langAttrs: LangAttrs = {}
if(lang) {
  langAttrs["lang"] = lang;
  langAttrs["hreflang"] = lang;
}
if(hreflang) {
  langAttrs["hreflang"] = hreflang;
}
---
<a rel="external" href={href} {...langAttrs}><slot/></a><style>
  a {
    background-image: url("/assets/external-link.svg");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 0.8em;
    padding-right: 1em;
  }
</style>