---
interface Props {
  fragments: [string, string][]
}
const { fragments } = Astro.props
---
<ol>{fragments.map(([id, frag]) => {
  const citeId = `cite-${id}`
  return <li id={citeId}><Fragment set:html={frag}/></li>;
})
}</ol><style>
  ol :global(cite + a) {
    word-break: break-all;
  }
</style>