---
import Al from '../../../components/Al.astro'
import Layout from '../../../layouts/Layout.astro'
---

<Layout title="Japanese Culture 2022 Spring: Course Project" description="Course Project for my Japanese Culture course.">
  <h1>Japanese Culture 2022 Spring: Course Project</h1>

  <section>
    <h2>About</h2>

    <p>
      In this course, we study Japanese culture and history, and tie that material into a trip around Japan, a samurai-related movie, and a piece of Japanese literature written from a Japanese perspective.
    </p>
  </section>

  <section>
    <h2>Trip Around Japan</h2>

    <p>
      Japan is very diverse in the kinds of experiences it offers. I wanted to choose a set of areas that cover as much of this range as possible. On the island of Kyushu, Fukuoka serves as a nice introduction to Japan, with its mix of traditional Japanese architecture and urban tourist attractions. On the island of Shikoku, Uchiko offers a deep dive into traditional Japanese architecture and culture. In Honshu, Kurobe Gorge offers many sightseeing experiences as well as a peek into Japan's industrialization. Also in Honshu is Yokohama, one of the first locations to be opened up to foreign trade, and as such a great representation of the evolution of Japanese culture. Finally, the trip ends in Furano on the island of Hokkaido, a great environment for relaxing and experiencing a rural environment of Japan.
    </p>

    <p>
      The best way to travel between these areas would be to start at the south during late spring, and start heading north, to get the best weather and opportunities for all activities. <Al href="2022q2-nhbk/ryoko">Trip Around Japan</Al>
    </p>

    <p>
      In each location, Google Maps will be sufficient to just get around, but if you want to be efficient with time, or want to be able to go sightseeing, each area has its transportation quirks you'll need to know. <Al href="2022q2-nhbk/kotsu">Getting Around</Al>
    </p>

    <p>
      A few events and attractions have been selected for each location. Some more related to tourism, and others more relevant to a location's cultural or historical impact. <Al href="2022q2-nhbk/kankomeisho">Points of Interest</Al>
    </p>

    <p>
      Each of these locations plays an important part in Japanese history and culture. <Al href="2022q2-nhbk/bunkateki-haikei">Cultural Backgrounds</Al>
    </p>
  </section>

  <section>
    <h2>Samurai: Then vs. Now</h2>

    <p>
      For the course's samurai movie, I was recommended by a friend to watch <cite>A Boy and His Samurai</cite>, a comedy about a samurai who travels forward in time from 1826 in the Edo period to 2006 in modern Japan. <Al href="2022q2-nhbk/samurai-eiga">Samurai Movie Report</Al>
    </p>
  </section>

  <section>
    <h2>Works of Literature</h2>

    <p>
      I was recommended by another friend to consider one of Akira Kurosawa's movies to analyze as a Japanese perspective on Japanese culture. I watched both <cite>Dreams</cite> and <cite>Ikiru</cite>. They are very different works in terms of their style and their messages, so I feel it important to talk about both. <Al href="2022q2-nhbk/bungaku-eiga">Literature Report</Al>
    </p>
  </section>

  <section>
    <h2>What's Happening</h2>

    <p>
      Throughout the course, we were asked to find news articles that we found interesting, surprising, or useful to discuss in some other way. Most recently I chose to dig into an article that summarized the Reporters Without Borders report on Japan, noting its decrease on the press freedom index. <Al href="2022q2-nhbk/shinbun">News Report</Al>
    </p>
  </section>
</Layout>
