---
import Layout from '../../../layouts/Layout.astro'
---

<Layout title="Japanese Culture 2022 Spring: Samurai Movie Report" description="&quot;A Boy and His Samurai&quot; viewed as a samurai movie.">
  <h1>Samurai Movie Report</h1>

  <section>
    <h2><cite>A Boy and His Samurai</cite></h2>

    <p>
      <cite>A Boy and His Samurai</cite> features a samurai sent forward in time from 1826 to 2006. He is accustomed to the Edo period, and the movie heavily focuses on the differences in customs, beliefs, and social power between the Edo period and modern Japan.
    </p>

    <p>
      We are first introduced to a single mother, Hiroko Yusa, and her young son, Tomoya Yusa. It's clear that Hiroko has trouble balancing her job with taking care of Tomoya: at work, she is regarded poorly by her superiors due to her occasional lateness and instant clock-outs.
    </p>

    <p>
      When we are introduced to our samurai character, Kijima Yasube, he at first is aggressively defensive: when scared by Tomoya during hide-and-seek, he whips out his katana as if he is being attacked. When the home phone rings, he attempts to find an intruder, before being explained via speaker that he can answer via the handset. However, because of Hiroko's kindness, Kijima respects and cares for the Yusa household. Kijima is able to take care of Tomoya, as well as do the housework and the cooking, allowing Hiroko to arrive to work on time and stay as late as her coworkers.
    </p>

    <p>
      We see life in Edo in stark contrast to life in modern Tokyo through Kijima. He is surprised by Hiroko and Tomoya having surnames, as that is something he associates with being a samurai. He goes through very formal and demonstrative motions to accept gifts, to emphasize himself as of a lower status. He uses the older samurai pronoun, <i>sessha</i>, instead of one of the more modern pronouns (the most common in modern times being <i>watashi</i>, <i>watakushi</i>, <i>boku</i>, and <i>ore</i>). Instead of the formal <i>desu</i>, informal <i>da</i>, or newspaper-y <i>dearu</i>, Kijima uses the copula <i>degozaru</i>, which is fancy to the point of sounding strange (unless you're customer service, and say <i>degozaimasu</i> to customers). Additionally, a scene of Kijima writing in a journal is shown. As Kijima is from a time before the Meiji restoration, itself before the writing reform of 1900, he is most likely writing in an older style of Japanese.
    </p>

    <p>
      All in all, I highly recommend watching <cite>A Boy and His Samurai</cite>. Even if you're not familiar with the Japanese language, the movie is still hilarious, as well as enticing, from the twists and turns of the plot.
    </p>
  </section>
</Layout>
